body {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 260%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}


canvas {
    background: lightgray;
    display: block;
    margin: 0 auto;
}

#ad1 {
    font-size: 140%;
    margin: 2%;
    text-align: left;
}

#ad2 {
    font-size: 140%;
    margin: 2%;
    text-align: right;
}

#startButton {
    position: absolute;
    margin: 0 38%;
    width: 20%;
    height: 10%;
    font-size: 25px;
}