/*
 * @author John Kang
 */

html {
	margin: 0;
	padding: 0;
    background-color: #f9fffc;
	}

body { 
	font: 100% "Times New Roman";
	line-height: 2;
	color: black; 
	margin: 4%; 
	padding: 0px 20px 0px 240px;
    background-color: white;
/*    background-image: url(white_background.jpg);*/
	}

p { 
	margin-top: 0; 
	text-align: justify;
	}

header {
    max-width: 1500px; 
    background-color: #e0dcd7;
/*    background-image: url(white_paper.jpg);*/
}

header h1 {
    width: 40%;
    border-bottom: 1px solid;
    font: bold "Times New Roman" ;
    font-size: 150%;
    line-height: 120%;
    margin-bottom: 1%
}

header h2 {
    font: bold "Times New Roman" ;
    margin-top: 1%;
    padding-bottom: 4.5%;
    line-height: 0%;
    font-size: 100%;
    text-indent: 20%;   
}



#zen-summary {
    margin-top:3%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    line-height: 100%;
    padding-left: 2%;
    margin-bottom: 3%;
}

.preamble, .participation, .requirements, .explanation, .benefits {
    margin-top: 3%;
    display: flex block;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: solid 1px;
    text-indent: 10px;
    line-height: 240%;
}
.preamble h3, .participation h3, .requirements h3, .explanation h3, .benefits h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin: 5px 5px;
    border: double;
    background-color: azure;
}


.resources, .archives, .select {
    overflow: hidden;
    background-color: white;    
}

.resources, .archives, .select {
    overflow: hidden;
    background-color: white;    
}

.sidebar {
/*    margin-left: 600px;*/
	position: fixed;
    max-width: 250px;
    width: 20%;
	top: 0%; 
	right: 80%;
    background-color: darkcyan;
	}

.sidebar .wrapper { 
	font: 13px Arial;
	padding: 10px 10px 10px 10px; 
	margin-top: 120px; 

    background-color: #f2fcfc;
	}

.sidebar h3.select { 
	margin: 10px 0 10px 0;  
    overflow: hidden;
    background-color: #dcf1f2; 
	}

.sidebar h3.archives { 
	margin: 25px 0 5px 0; 
	overflow: hidden;
    background-color: #dcf1f2; 
    }

.sidebar h3.resources { 
	margin: 25px 0 5px 0; 
	overflow: hidden;
    background-color: #dcf1f2; 
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 120%; 
    border-bottom: 3px dotted white;
	display: block; 
	padding-top: 3px; 
    padding-bottom: 2px;
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: indianred;
	}
.sidebar li a:visited {
	color: palevioletred;
	}

footer{
    text-align: right;
    margin-top: 2%;
    font: 100% "Times New Roman";
}
